*{
    box-sizing: border-box;
}
body{
    background-image: url(./hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
}
h2 {
    display: flex;
    font-size: 18px;
   color: white;
    align-items: center;
    justify-content: center;
}

.form-element1{
    margin-bottom: 30px;
    background-color: rgb(10, 23, 207);
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    border-bottom: red solid 3px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 600px;
    background-color: rgba(1, 6, 20, 0.7);
    width: 400px;
    border-radius: 0px;
    transition: all 4s ease ease-in-out;
    height: 2500px;

}
input{
    border-radius: 0px;
    width: 350px;
    box-sizing: border-box;
    outline: none;
    border: rgb(41, 5, 139) 1px solid;
   
    height: 30px;
    background-color: rgb(12, 22, 165);
    color: rgb(118, 203, 243);
    
   


    
}
.form-element{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
outline: none;
background-color: rgba(10, 69, 245, 0.9);
height: 80px;
border: rgb(4, 26, 126) solid 2px;
}
.header{
    height: 80px;
    background-color: rgb(248, 248, 250);
    width: 400px;
    border-radius: 5px;
    
}
select{
    border-radius: 0px;
    width: 350px;  
    outline: none;
    
    border: none;
    background-color: royalblue;
    color: white;
    align-items: center;
    height: 30px;
    margin-top: 10px;
    

}


select option{
    font-family: 'Courier New', Courier, monospace;
    font-size: 7px;
    width: 80px;

}
label{
    color: white;
    margin: 5px;
}
.form-element-date{
    display: inline-flex ;
    margin-bottom: 20px;
    height: 70px;
    display: inline-flex;
    padding-top: 20px;
    background-color: black;
    

}
.date{
    width: 100px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
}

@media  (max-width :700px) {
    body{
        background-color: rgb(226, 12, 12)
    };
    form{
        width: 300px;

        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: rgba(10, 34, 219, 0.753);
    }
    select{
        width: 220px;
    }
    input{
        width: 220px;
    }
    h2{
        font-size: 30px;
    }
    }
